@font-face {
    font-family: ginger;
    src: url(../fonts/Ginger.ttf);
}

@font-face {
    font-family: clare;
    src: url(../fonts/Clarendon-Regular.ttf);
}

@font-face {
    font-family: champ;
    src: url(../fonts/Champagne&Limousines.ttf);
}